$foreground: #ededed;
$background: #1d1d1d;
$accent: #13b1ff;
$danger: #ff5e5e;
$success: #28ce46;
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: $background;
    color: $foreground;
    font-size: 10pt;
    @media print {
        background: #fff;
        color: #000; 
        font-size: 9pt;
    }
}

@media print {
    div {
        overflow: initial !important
    }
}

section {
    // border: 3px solid red;
    // margin: 8px;
    >header {
        font-weight: lighter;
        font-size: 1.3em;
        display: inline-block;
        border-bottom: 1px solid rgba($foreground, 0.5);
        line-height: 1.1;
        @media print {
            border-bottom-color: (#000, 0.5);
        }
    }
    >ul,
    >div>ul {
        >li {
            font-weight: 600;
            >span {
                font-weight: normal;
                display: block;
                color: rgba($foreground, 0.7);
                font-style: italic;
                margin-bottom: 4px;
                @media print {
                    color: rgba(#000, 0.7);
                }
            }
        }
    }
}

#ucd {
    width: 70em;
    @media print {
        content: url("images/ucd.png");
        width: 54em;
    }
}

.accent {
    color: $accent;
}

.danger {
    color: $danger;
}

.success {
    color: $success;
}